<%- layout('layouts/main.ejs') %>

<h1>signin</h1>
<form action="/signin" method="POST">
    <input type="email" name="email" placeholder="E-mail">
    <input type="password" name="password" placeholder="password">
    <input type="submit" value="Login">
</form>